.lesson-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #C9ADA1;
    border: solid 2px #798478;
    min-width: 93%;
    gap: 1rem;
}

.grammarCardTitle {
    font-family: 'Millaris', sans-serif;
    font-size: 2rem;
    color: #2B2B2B;
}

.correctionsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    font-family: 'Handlee', 'sans-serif';
    font-size: 1.5rem;
    color: #2B2B2B;
    gap: 0.5rem;
    width: 100%;
}

.videoLesson {
    width: 100%;
    border: solid 2px #798478;
}

.errorHighlight {
    color: #7a262f;
    font-weight: bold;
}

.grammarCardSubtitle {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Millaris', sans-serif;
}

.grammarLessonCloseBtn {
    border-radius: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    justify-content: center; 
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #4D6A6D;
    box-shadow: 0 4px 6px #798478;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}