html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;  
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  padding: 16px;
  margin-top: auto;
}

.main-page {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 32px;

}

.nameplate-container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 1rem;
  position:fixed;
  top: 0;
  right: 0;
  padding: 16px;
}


.nameplate {
  font-family: 'Sundori', sans-serif;
  font-size: 2rem;             
  color: #2B2B2B;
  margin: 0;
  text-align: center;
}

.homePage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;           
  height: 100vh;    
   background: linear-gradient(
    to right,
    #EAE0CC 0% 5%,
    #C9ADA1 5% 7%,
    #A0A083 7% 9%,
    #798478 9% 11%,
    #4D6A6D 11% 13%,
    #EAE0CC 13% 100%
  );
  z-index: -1; 
}

.promptsPage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;           
  height: 100vh;    
   background: linear-gradient(
    to top,
    #EAE0CC 0% 10%,
    #C9ADA1 10% 14%,
    #A0A083 14% 18%,
    #798478 18% 22%,
    #4D6A6D 22% 26%,
    #EAE0CC 26% 100%
  );
  z-index: -1; 
}

.promptText {
  font-family: 'Millaris', sans-serif;
  font-size: 4rem;
  color: #2B2B2B;
  text-align: center;
  margin-top: auto;

}

.fixed-pos {
  position: fixed;
  bottom: 2rem;
}

.homeBtn-container {
  position: fixed;
  top: 1rem;
  left: 1rem;
}