

.buttonCard {            
  color: #EAE0CC;
  background-color: #4D6A6D;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 6px #798478;
}

.buttonCard:hover {
    background-color: #798478;
    transform: scale(1.1);
}


.small {
    font-family: 'Chicle', sans-serif;
    font-size: 2rem;
    width: 9rem;
    height: 4rem;
}

.medium {
    font-family: 'Coiny', sans-serif; 
    font-size: 2rem;
    width: 15rem;
    height: 9rem;
}

.large {
    font-family: 'Coiny', sans-serif;  
    font-size: 5rem;
    width: 20rem;
    height: 20rem;
}

.disabledBtn {
    background-color: #A9BFC1;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.disabledBtn:hover {
    transform: none;
    background-color: #A9BFC1;
}

.entriesBtn {
    font-size: 1.5rem;
    font-family: 'Handlee', sans-serif;
}
